
@font-face {
	font-family: 'edit_here';
	

}

@font-face {
	font-family: 'Montserrat-Medium';
    src: url('../Assets/font/Montserrat-Medium.ttf')
}

@font-face {
	font-family: 'NanumSquareR';
    src: url('../Assets/font/NanumSquareR.ttf');
}

